@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.chat-window {
  height: 100%;
  width: 90%;
  /* width: 500px;
  height: 600px; */
}

/* .chat-window p {
  
} */
.chat-window .chat-header {
  height: 45px;
  border-radius: 6px;
  /* position: relative; */
  cursor: pointer;
  margin-bottom: 10px;
}
.chat-window .chat-header p {
  display: block;
  color: #fff;
  font-weight: 700;
  line-height: 45px;
  font-size: 80px;
}

.chat-window .chat-body {
  /* height: calc(750px - (45px + 70px)); */
  height: 60vh;
  border: 1px solid #263238;
  border-radius: 20px;
  position: relative;
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}
.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 40px;
  max-width: 200px;
  background-color: rgb(241, 121, 8);
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  word-break: break-word;
}

.chat-window .chat-body .message .message-content p {
  text-align: left;
  margin: 0px;
}


#you {
  justify-content: flex-end;
}

#you .message-content {
  justify-content: flex-end;
  font-size: 1.5rem;
}

#you .message-meta {
  justify-content: flex-end;
  /* margin-left: 5px; */
  color: white;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-start;
  background-color: blueviolet;
  font-size: 1.5rem;
}

#other .message-meta {
  justify-content: flex-start;
  /* margin-right: 5px; */
}

#you #author {
  text-align: right;
  /* margin-left: 10px; */
  margin: 0px 8px 5px 0;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

#other #author {
  text-align: left;
  margin: 0px 0px 5px 8px;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
}

#you .message-meta #time {
  text-align: right;
  margin: 5px 8px 0px 0;
  color: white;
  font-size: 1.2rem;
}

#other .message-meta #time {
  text-align: left;
  margin: 5px 0px 0px 8px;
  color: white;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 14px;
}

.chat-window .chat-footer {
  height: 40px;
  border-top: none;
  border-radius: 20px;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-radius: 10px;
  background-color: transparent;
  color:white;
  outline: none;
  font-family: "Open Sans", sans-serif;
}

.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 25px;
  color: white;
}

.chat-window .chat-footer button:hover {
  color: orange;
}
.hide {
  opacity: 0 !important;
}
