@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean');
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Black Han Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  /* font-family: sans-serif; */
  box-sizing: border-box;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: "koverwatch";
  src: url("./fonts/koverwatch.ttf");
}